.about-background{
    background-color: #372e50;
    color: #fffffa;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.main-container{
    background-color: #282232;
    border-radius: 35px;
    min-height: 480px;
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}



.upper-text{
    font-family: 'IBM Semibold';
    color: #5f577c;
    font-size: 18px;
}

.main-text{
    font-family: 'IBM Semibold';
    font-size: 35px;
}

.main-text-desc{
    margin-top: 10px;
    line-height: 25px;
    font-family: 'IBM Regular';
}

.button-container{
    margin-top: 40px;
}

.button{
    text-decoration: none;
    color: #00af88;
    font-family: 'IBM Semibold';
    padding: 10px;
    border-radius: 35px;
    border: 3px solid #00af88;
    width: auto;
    flex-grow: 0;
}

.image{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}



@media screen and (min-width: 600px ){
    .main-img{
        width: 30vw;
    }
    .text-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
}

@media screen and (max-width: 600px) {
    .main-img{
        width: 70vw;
        margin: 30px 0 30px 0;
    }
    .text-container{
        display: flex;
        margin-top: 30px;
        flex-direction: column;
        justify-content: center;
    }
    .main-container{
        margin-top: 20px;   
        margin-bottom: 20px;
    }
}
