<div class="about-background">
    <div class="main-container">
        <div class="text-container">
            <p class="upper-text">Sobre el Hackathon</p>
            <h1 class="main-text">Hackeando<br>por el campus</h1>
            <p class="main-text-desc">Participa para ganar increibles premios<br>de nuestros colaboradores y tener la<br>oportnunidad de aplicar tu proyecto<br>al campus</p>
            <div class="button-container"> 
                <a href="#" class="button">Descubre más</a>
            </div>
        </div>
        <div class="image">
            <img src="assets/images/laptop.png" alt="laptop.png" class="main-img">
        </div>
    </div>
</div>