<div class="about-background">
    <div class="main-container">
        <div class="text-container">
            <p class="upper-text">Sobre el Hackathon</p>
            <h1 class="main-text">Hackeando<br>por el campus</h1>
            <p class="main-text-desc">Lorem ipsum dolor sit amet, consecte-<br>tuer adipiscing elit, sed diam nonummy<br>nibh euismod tincidunt ut laoreet<br>dolore magna aliquam erat volutpat</p>
            <div class="button-container"> 
                <a href="#" class="button">Descubre más</a>
            </div>
        </div>
        <div class="image">
            <img src="assets/images/laptop.png" alt="laptop.png" class="main-img">
        </div>
    </div>
</div>