<div class ="mentors-background">
    
    <div class="row">
        <div class="container" id="title-subtitle">
            
            <div class="title">
                <p>Talleres y Mentorías</p>
            </div>

            <div class="subtitle">
                <p>Aprende de quienes<br>ya la están rompiendo</p>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="container">
            <div class="mentors-section" style="align-items: center">
                <div id="mentors-carousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col">
                                    <div class="card" style="width: 18rem;">
                                        <img class="card-img-top" src="../assets/images/joche.png" alt="Card image cap">
                                        <div class="card-body">
                                            <div style="display: flex; align-items: center; justify-content:flex-start; 
                                            height: 80px;">
                                                <h5 class="card-title">GitHub:<br>Your Toolbox</h5>
                                            </div>
                                            <p class="card-text">Por Luis Flores Carpinteyro de</p>
                                            <div class="l-container">
                                                <img class="logo-container" src="assets/images/tec logo.png" alt="Logo imagecap">
                                            </div>
                                            <button (click)="onClick(1)" id="btn1">Conoce más ></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card" style="width: 18rem;">
                                        <img class="card-img-top" src="../assets/images/joche.png" alt="Card image cap">
                                        <div class="card-body">
                                            <div style="display: flex; align-items: center; justify-content:flex-start; 
                                            height: 80px;">
                                                <h5 class="card-title">Serie de Mindfulness</h5>
                                            </div>
                                            <p class="card-text">Por Carlos Cisneros de</p>
                                            <div class="l-container">
                                                <img class="logo-container" src="assets/images/ichi.png" alt="Logo imagecap">
                                            </div>
                                            <button (click)="onClick(1)" id="btn1">Conoce más ></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card" style="width: 18rem;">
                                        <img class="card-img-top" src="../assets/images/Sof.png" alt="Card image cap">
                                        <div class="card-body">
                                            <div style="display: flex; align-items: center; justify-content:flex-start; 
                                            height: 80px;">
                                                <h5 class="card-title">¿Cómo hacer un proyecto rentable y no morir en el intento?</h5>
                                            </div>
                                           
                                            <p class="card-text">Por Roberto Quintero Vega de</p>
                                            <div class="l-container">
                                               <img class="logo-container" src="assets/images/Enlace+.png" alt="Logo imagecap"> 
                                            </div>
                                            
                                                                                        
                                            <button (click)="onClick(2)" id="btn2">Conoce más ></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card" style="width: 18rem;">
                                        <img class="card-img-top" src="../assets/images/Sandy.png" alt="Card image cap">
                                        <div class="card-body">
                                            <div style="display: flex; align-items: center; justify-content:flex-start; 
                                            height: 80px;">
                                                <h5 class="card-title">Pool Pitch</h5>
                                            </div>
                                            <p class="card-text">Por Fory Sánchez de</p>
                                            <div class="l-container">
                                                <img class="logo-container" src="assets/images/logo2.png" alt="Logo imagecap">
                                            </div>
                                            
                                            <button (click)="onClick(3)" id="btn3">Conoce más ></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col">
                                    <div class="card" style="width: 18rem;">
                                        <img class="card-img-top" src="../assets/images/Dan.png" alt="Card image cap">
                                        <div class="card-body">
                                            <div style="display: flex; align-items: center; justify-content:flex-start; 
                                            height: 80px;">
                                                <h5 class="card-title">Peleando Pierdes</h5>
                                            </div>
                                            <p class="card-text">Por Raúl Howe Marañón de</p>
                                            <div class="l-container">
                                                <img class="logo-container" src="assets/images/Enlace+.png" alt="Logo imagecap">
                                            </div>
                                            <button (click)="onClick(4)" id="btn4">Conoce más ></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card" style="width: 18rem;">
                                        <img class="card-img-top" src="../assets/images/Dan.png" alt="Card image cap">
                                        <div class="card-body">
                                            <div style="display: flex; align-items: center; justify-content:flex-start; 
                                            height: 80px;">
                                                <h5 class="card-title">Eco Tie Dye</h5>
                                            </div>
                                            <p class="card-text">Por Estilo Lento de</p>
                                            <div class="l-container">
                                                <img class="logo-container" src="assets/images/Enlace+.png" alt="Logo imagecap">
                                            </div>
                                            <button (click)="onClick(5)" id="btn5">Conoce más ></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card" style="width: 18rem;">
                                        <img class="card-img-top" src="../assets/images/joche.png" alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title">Design Thinking<br>for hackers</h5>
                                            <p class="card-text">Por Jeff Kisses de</p>
                                            <img class="logo-container" src="assets/images/logo2.png" alt="Logo imagecap">
                                            <button (click)="onClick(1)" id="btn1">Conoce más ></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card" style="width: 18rem;">
                                        <img class="card-img-top" src="../assets/images/Sof.png" alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title">Card title</h5>
                                            <p class="card-text">Some quick .</p>
                                            <img class="logo-container" src="assets/images/logo2.png" alt="Logo imagecap">
                                            <button (click)="onClick(6)" id="btn6">Conoce más ></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#mentors-carousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon bg-dark border border-dark rounded-circle" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#mentors-carousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon bg-dark border border-dark rounded-circle" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    



</div>

