<div class ="mentors-background">
    
    <div class="row">
        <div class="container" id="title-subtitle">
            
            <div class="title">
                <p>Talleres y Mentorías</p>
            </div>

            <div class="subtitle">
                <p>Aprende de quienes<br>ya la están rompiendo</p>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="container">
            <div class="mentors-section" style="align-items: center">
                <div id="mentors-carousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" >
                            <div class="row" *ngFor="let mentor of mentors_1">
                                <div class="col">
                                    <div class="card" style="width: 18rem;">
                                        <img class="card-img-top" src="{{mentor.photo}}" alt="Card image cap">
                                        <div class="card-body">
                                            <div style="display: flex; align-items: center; justify-content:flex-start; 
                                            height: 80px;">
                                                <h5 class="card-title">{{mentor.name}}</h5>
                                            </div>
                                            <p class="card-text">Por {{mentor.person}} de</p>
                                            <div class="l-container">
                                                <img class="logo-container" src="{{mentor.logo}}" alt="Logo imagecap">
                                            </div>
                                            <button (click)="openDialog(mentor.name, mentor.person, mentor.description, mentor.detail, mentor.about_person)" id="btn1">Conoce más ></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> 
                        <div class="carousel-item">
                            <div class="row" *ngFor="let mentor of mentors_2">
                                <div class="col">
                                    <div class="card" style="width: 18rem;">
                                        <img class="card-img-top" src="{{mentor.photo}}" alt="Card image cap">
                                        <div class="card-body">
                                            <div style="display: flex; align-items: center; justify-content:flex-start; 
                                            height: 80px;">
                                                <h5 class="card-title">{{mentor.name}}</h5>
                                            </div>
                                            <p class="card-text">Por {{mentor.person}} de</p>
                                            <div class="l-container">
                                                <img class="logo-container" src="{{mentor.logo}}" alt="Logo imagecap">
                                            </div>
                                            <button (click)="openDialog(mentor.name, mentor.person, mentor.description, mentor.detail, mentor.about_person)" id="btn1">Conoce más ></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                            
                        
                        <div class="carousel-item">
                            <div class="row" *ngFor="let mentor of mentors_3">
                                <div class="col">
                                    <div class="card" style="width: 18rem;">
                                        <img class="card-img-top" src="{{mentor.photo}}" alt="Card image cap">
                                        <div class="card-body">
                                            <div style="display: flex; align-items: center; justify-content:flex-start; 
                                            height: 80px;">
                                                <h5 class="card-title">{{mentor.name}}</h5>
                                            </div>
                                            <p class="card-text">Por {{mentor.person}} de</p>
                                            <div class="l-container">
                                                <img class="logo-container" src="{{mentor.logo}}" alt="Logo imagecap">
                                            </div>
                                            <button (click)="openDialog(mentor.name, mentor.person, mentor.description, mentor.detail, mentor.about_person)" id="btn1">Conoce más ></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#mentors-carousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon bg-dark border border-dark rounded-circle" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#mentors-carousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon bg-dark border border-dark rounded-circle" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    



</div>

