<div class="main">
    <div class="content">
        <div class="information">
            <h1 class="title">Aquí inicia tu experiencia</h1>
            <h3 class="instruction">Antes de continuar, asegúrate de lo siguiente:</h3>
            <div style="margin-bottom: 40px;">
                <div class="bullet">
                    <img src="assets/images/palomita.png">
                    <p>La persona líder del equipo llenará el registro:<br>Te llamaremos Hacker Master</p>
                </div>
                <div class="bullet">
                    <img src="assets/images/palomita.png">
                    <p>Tener la información básica de lxs hackers a la mano</p>
                </div>
                <div class="bullet">
                    <img src="assets/images/palomita.png">
                    <p>Todxs lxs hackers deben tener una cuenta de discord</p>
                </div>
            </div>
            <button class="continue" routerLink="/registration" >Continuar</button>
        </div>
    </div>
</div>