<div class="main">
    <div class="content-container">
        <div class="team-name">
            <div class="second-container">
                <div class="green-circle">
                    <img src="assets/images/Paloma.png">
                </div>
                <div class="information">
                    <label class="title">
                        ¡Listo!
                    </label>
                    <label class="instruction">
                        Gracias por registrarse en la primer edición de este Hackathon
                    </label>
                    <label class="more-text">Les estaremos mandando más información a través de su Hacker Master</label>
                </div>
                
            </div>
            <div class="second-container">
                <div class="social-links">
                    <a href="https://www.instagram.com/fetec.pue/">
                        <img class="social-img" src="assets/social/IG icon.png">
                    </a>
                    <a href="https://www.facebook.com/FETECPuebla">                    
                        <img class="social-img" src="assets/social/Facebook.png">
                    </a>
                    <a>
                        <img class="social-img" src="assets/social/Twitter.png">  
                    </a>
                </div>
                <button class="continue" routerLink="/">Regresar al inicio</button>
            </div>
       
        </div>
    </div>
</div>
