<div class="topics-background">
    <div class="main-container">
        <h1 style="font-size: 58pt; margin-bottom: 40px; line-height: 70pt;">Temáticas</h1>
        <div class="box-container">
            <div class="box">
                <div>
                    <img src="assets/images/transporte.png" alt="mask icon" style="width: 120px; ">
                    <h1>Transporte</h1>
                </div>
                <div>
                    <p style="font-family: 'IBM Regular'; font-size: 12pt;">¡Prioricemos la movilidad sostenible! propón proyectos que promuevan el uso y planificación óptimos de los medios de transporte bajo  modelos sustentables, en donde la convivencia y el entorno estudiantil se refuercen.</p>
                    <p style="color: #5f577c;">*Exclusivo estudiantes Tec</p>
                </div>
            </div>
            <div class="box">
                <div>
                    <img src="assets/images/biengrifo.png" alt="mask icon" style="width: 100px;">
                <h1>Agua</h1>
                </div>
                <div>
                    <p style="font-family: 'IBM Regular'; font-size: 12pt;"> ¡Sin agua no hay vida!<br>Conozcamos más sobre nuestro consumo del recurso más importante con el fin de concientizar y actuar sobre el uso responsable. Explora y propón sobre temas de riego, consumo personal, desperdicio, captación de agua, entre otros.</p>
                </div>
            </div>
            <div class="box">
                <img src="assets/images/servidores.png" alt="mask icon" style="width: 80px; ">
                <h1><span style="font-size: 30px;">Contaminación<br>Digital</span></h1>
                <p style="font-family: 'IBM Regular'; font-size: 12pt;">¡Reduzcamos nuestro impacto ambiental en la realidad digital! Implementa soluciones para reducir las sustancias contaminantes y gases de efecto invernadero provocados por el uso de las infraestructura física de las plataformas digitales y de almacenamiento de datos.</p>
            </div>
        </div>  
    </div>
</div>