<div class="topics-background">
    <div class="main-container">
        <h1 style="font-size: 35px; margin-bottom: 20px;">Temáticas</h1>
        <div class="box-container">
            <div class="box">
                <div>
                    <img src="assets/images/mask_icon.png" alt="mask icon" style="width: 70px;">
                    <h1>Transporte</h1>
                </div>
                <div>
                    <p style="font-family: 'IBM Regular'; font-size: 15px;">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat</p>
                </div>
            </div>
            <div class="box">
                <div>
                    <img src="assets/images/consiencia_icon.png" alt="mask icon" style="width: 50px;">
                <h1>Consciencia</h1>
                </div>
                <div>
                    <p style="font-family: 'IBM Regular'; font-size: 15px;">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat</p>
                </div>
            </div>
            <div class="box">
                <img src="assets/images/home_icon.png" alt="mask icon" style="width: 50px;">
                <h1>#CampusTuCasa</h1>
                <p style="font-family: 'IBM Regular'; font-size: 15px;">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat</p>
            </div>
        </div>  
    </div>
</div>