<div class="topics-background">
    <div class="main-container">
        <h1 style="font-size: 58pt; margin-bottom: 20px;">Temáticas</h1>
        <div class="box-container">
            <div class="box">
                <div>
                    <img src="assets/images/transporte.png" alt="mask icon" style="width: 200px; margin-top: 20px;">

                    <h1>Transporte</h1>
                </div>
                <div>
                    <p style="font-family: 'IBM Regular'; font-size: 13pt;">¡Prioricemos la movilidad sostenible! propón proyectos que promuevan el uso y planificación óptimos de los medios de transporte bajo  modelos sustentables, en donde la convivencia y el entorno estudiantil se refuercen</p>
                </div>
            </div>
            <div class="box">
                <div>
                    <img src="assets/images/biengrifo.png" alt="mask icon" style="width: 150px;">
                <h1>Agua</h1>
                </div>
                <div>
                    <p style="font-family: 'IBM Regular'; font-size: 13pt;"> ¡Sin agua no hay vida!<br>Conozcamos más sobre nuestro consumo del recurso más importante con el fin de concientizar y actuar sobre el uso responsable. Explora y propón sobre temas de riego, consumo personal, desperdicio, captación de agua entre otros.</p>
                </div>
            </div>
            <div class="box">
                <img src="assets/images/servidores.png" alt="mask icon" style="width: 130px; ">
                <h1><span style="font-size: 35px;">Contaminación Digital</span></h1>
                <p style="font-family: 'IBM Regular'; font-size: 13pt;">En esta temática implementarás soluciones que permitan la reducción de sustancias contaminantes y gases de efecto invernadero provocada por el uso de infraestructura física para el funcionamiento de plataformas digitales y almacenamiento de datos.</p>
            </div>
        </div>  
    </div>
</div>