<div class="faq-background">
    <div class="faq-container">
        <div class="faq-header">
            <p class="faq-header-text">¿Alguna pregunta?</p>
        </div>
        <div class="question-box">
            <mat-accordion>
                <mat-expansion-panel hideToggle style="border-radius: 0px; border-bottom: 1px solid #fff; background-color: #282232;" *ngFor="let item of lista">
                  <mat-expansion-panel-header style="background-color: #282232; width: 1000px;">
                    <mat-panel-title style="color: #fff; font-family: 'IBM Semibold'; display: flex; align-items: center;">
                        <img src="assets/images/green_box_icon.png" alt="green_box_icon.png" class="green-box-icon">
                        {{item.pregunta}}
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                    <div style="display: flex; overflow-wrap: break-word; width: 1000px;">
                        <p style="color: #fff; font-family: 'IBM Regular';">{{item.respuesta}}</p>
                    </div>
                  </mat-expansion-panel>
              </mat-accordion>
        </div>
    </div>
</div>
