/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'IBM Plex Sans Bold';
    src: url(assets/fonts/IBMPlexSans-Bold.ttf) format("opentype");
}

@font-face {
    font-family: 'IBM Regular';
    src: url(assets/fonts/IBMPlexSans-Regular.ttf) format("opentype");
}

@font-face {
    font-family: 'IBM Semibold';
    src: url(assets/fonts/IBMPlexSans-SemiBold.ttf) format("opentype");
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
