<div class="main">
<mat-drawer-container class="container" >
    <mat-drawer mode="side" opened>
        <div class="side-container"> 
            
            <div *ngIf="step == 1; else else1">
                <button mat-button (click)="continue(1)">
                    <mat-icon  class="activated" svgIcon="text" ></mat-icon>
                        Nombre del Equipo
                    </button>
            </div>
            <ng-template #else1>
                <button mat-button class="button-deactivated" (click)="continue(1)">
                    <mat-icon class="deactivated" svgIcon="text"></mat-icon>
                        Nombre del Equipo
                    </button>
            </ng-template>
            <div *ngIf="step == 2; else else2">
                    <button mat-button (click)="continue(2)">
                        <mat-icon class="activated" svgIcon="type"></mat-icon>
                        Tipo de equipo
                    </button>
            </div>
            <ng-template #else2>
                    <button mat-button class="button-deactivated" (click)="continue(2)">
                        <mat-icon class="deactivated" svgIcon="type"></mat-icon>
                        Tipo de equipo
                    </button>
            </ng-template>
            <div *ngIf="step == 3; else else3">
                <button  mat-button (click)="continue(3)">
                    <mat-icon class="activated" svgIcon="rank"></mat-icon>
                    Temática a seleccionar
                </button>
            </div>
            <ng-template #else3>
                <button mat-button class="button-deactivated" (click)="continue(3)">
                    <mat-icon class="deactivated" svgIcon="rank"></mat-icon>
                    Temática a seleccionar
                </button>
            </ng-template>
            <div>
                <button mat-button (click)="continue(4)" class="button-deactivated">
                    <mat-icon class="deactivated" svgIcon="info"></mat-icon>
                    Info de hackers
                </button> 
                <div *ngIf="step == 4; else else4">
                    <button mat-button (click)="continue(4)" style="margin-left: 20px;">
                        <mat-icon class="activated" svgIcon="master"></mat-icon>
                        Hacker Master
                    </button>
                </div>
                <ng-template #else4>
                    <button mat-button class="button-deactivated" (click)="continue(4)"  style="margin-left: 20px;">
                        <mat-icon class="deactivated" svgIcon="master"></mat-icon>
                        Hacker Master
                    </button>
                </ng-template>
                <div *ngIf="step == 5; else else5">
                    <button mat-button (click)="continue(5)" style="margin-left: 20px;">
                        <mat-icon class="activated" svgIcon="hacker"></mat-icon>
                        Hacker 2
                    </button>
                </div>
                <ng-template #else5>
                    <button mat-button class="button-deactivated" (click)="continue(5)"  style="margin-left: 20px;">
                        <mat-icon class="deactivated" svgIcon="hacker"></mat-icon>
                        Hacker 2
                    </button>
                </ng-template>
                <div *ngIf="step == 6; else else6">
                    <button mat-button (click)="continue(6)" style="margin-left: 20px;">
                        <mat-icon class="activated" svgIcon="hacker"></mat-icon>
                        Hacker 3
                    </button>
                </div>
                <ng-template #else6>
                    <button mat-button class="button-deactivated" (click)="continue(6)"  style="margin-left: 20px;">
                        <mat-icon class="deactivated" svgIcon="hacker"></mat-icon>
                        Hacker 3
                    </button>
                </ng-template>
                <div *ngIf="step == 7; else else7">
                    <button mat-button (click)="continue(7)" style="margin-left: 20px;">
                        <mat-icon class="activated" svgIcon="hacker"></mat-icon>
                        Hacker 4
                    </button>
                </div>
                <ng-template #else7>
                    <button mat-button class="button-deactivated" (click)="continue(7)"  style="margin-left: 20px;">
                        <mat-icon class="deactivated" svgIcon="hacker"></mat-icon>
                        Hacker 4
                    </button>
                </ng-template>
                <div *ngIf="step == 8; else else8">
                    <button mat-button (click)="continue(8)" style="margin-left: 20px;">
                        <mat-icon class="activated" svgIcon="hacker"></mat-icon>
                        Hacker 5
                    </button>
                </div>
                <ng-template #else8>
                    <button mat-button class="button-deactivated" (click)="continue(8)"  style="margin-left: 20px;">
                        <mat-icon class="deactivated" svgIcon="hacker"></mat-icon>
                        Hacker 5
                    </button>
                </ng-template>
            </div>
            <div *ngIf="step == 9; else else9">
                <button mat-button (click)="continue(9)">
                    <mat-icon class="activated" svgIcon="hacker"></mat-icon>
                    ¡Ya casi!
                </button>
            </div>
            <ng-template #else9>
                <button mat-button class="button-deactivated" (click)="continue(9)">
                    <mat-icon class="deactivated" svgIcon="hacker"></mat-icon>
                    ¡Ya casi!
                </button>
            </ng-template> 
    </div>
</mat-drawer>
    <mat-drawer-content style="overflow: visible;">
        <form name="registrationForm" [formGroup]="teamInfo">
            <div class="team-name" *ngIf="step == 1">
                    <label class="title">Nombre del equipo</label>
                    <label [ngClass]="{'input-error': nameFlag}" class="instruction">Escribe el nombre de tu equipo</label>
    
                    <mat-icon class="first-icon" svgIcon="hacker-logo"></mat-icon>
                    <input class="big-input" type="text" placeholder="Awesome_name_goes_here" formControlName="name" maxlength="40">
                    <span class="text-danger" *ngIf="nameFlag">No olvides escribir el nombre de tu equipo</span>
                    <label class="disclaimer">*Nombre inapropiados serán inapropiados</label>
                    <div class="button-rack"> 
                        <button class="back" routerLink="/home">Regresar</button>
                        <button class="continue" (click)="continue(2)">Continuar</button>
                    </div>
            </div>
            <div class="team-name" *ngIf="step == 2">
                <label class="title">Tipo de equipo</label>
                    <label [ngClass]="{'input-error': teamFlag}" class="instruction">Selecciona la opción de acuerdo a cómo está conformado tu equipo</label>
                    <mat-radio-group formControlName="team_type" class="asCard">
                        <mat-radio-button *ngFor="let type of teamTypes" [value]="type.name">
                            <mat-card>
                                <mat-card-content>
                                    <img src="{{type.icon}}">
                                </mat-card-content>
                                <mat-card-title>{{type.name}}</mat-card-title>
                                <mat-card-content >
                                    <div class="content">{{type.description}}</div>
                                </mat-card-content>
                            </mat-card>
                        </mat-radio-button>
                        
                    </mat-radio-group>
                    <span class="text-danger" *ngIf="teamFlag">No olvides escoger una opción</span>
                    <div class="button-rack">
                        <button class="back" (click)="continue(1)">Regresar</button>
 
                        <button class="continue" (click)="continue(3)">Continuar</button>
                    </div>
            </div>
            <div class="team-name" *ngIf="step == 3">
                <label class="title">Temática a seleccionar</label>
                <label [ngClass]="{'input-error': rankFlag}" class="instruction">Selecciona la temática en la que tu equipo desea participar</label>
                <mat-radio-group class="asCard" formControlName="rank">
                    <mat-radio-button *ngFor="let rank of ranks" [value]="rank.name" >
                        <mat-card *ngIf="rank.show">    
                            <mat-card-content >
                                    <img [ngStyle]="{'width': rank.width, 'height': rank.height}" src="{{rank.icon}}">
                            </mat-card-content>
                            <mat-card-title>{{rank.name}}</mat-card-title>
                        </mat-card>
                    </mat-radio-button>
                </mat-radio-group>
                <span class="text-danger" *ngIf="rankFlag">No olvides escoger una temática</span>
                <div class="button-rack">
                    <button class="back" (click)="continue(2)">Regresar</button>

                    <button class="continue" (click)="continue(4)">Continuar</button>
                </div>
            </div>       
            <div *ngIf="step == 4" class="team-name" formGroupName="hackerM">
                    <label class="title">Ready Hacker Master</label>
                    <label class="instruction">Ingresa tus datos generales y de contacto. A través del Hacker Master nos comunicaremos con tu equipo</label>
                    <div class="form-field">
                        
                        <label [ngClass]="{'input-error': name}" class="form-label">Nombre*</label>
                        <input  class="text-field" type="text" placeholder="Nombre*" formControlName="name">
                    </div>
                    <div class="form-field">
                        <label [ngClass]="{'input-error': email}" class="form-label">Dirección de correo electrónico*</label>
                        <input class="text-field" type="email" placeholder="example@domain.com*" formControlName="email">
                    </div>
                    <div class="form-field">
                        <label [ngClass]="{'input-error': phone}" class="form-label">Número de teléfono*</label>
                        <input class="text-field" type="text" placeholder="10101010101010*" formControlName="phone">
                    </div>
                    <div class="form-field">
                        <label [ngClass]="{'input-error': discord}" class="form-label">Discord ID*</label>
                        <input class="text-field" type="text" placeholder="discordID#1234*" formControlName="discord">
                    </div>
                    <div class="form-field" *ngIf="externalFlag">
                        <label [ngClass]="{'input-error': code}" class="form-label">Universidad/Institución de Estudios*</label>
                        <input class="text-field" type="text" placeholder="Universidad/Institución de Estudios*" formControlName="code">
                    </div>
                    <div class="double-field" *ngIf="!externalFlag">
                        <div class="form-field">
                            <label [ngClass]="{'input-error': code}" class="form-label">Matrícula*</label>
                            <input  class="text-field" type="text" placeholder="Matrícula*" formControlName="code">
                        </div>
                        <div class="hidden-block"></div>
                        <div class="form-field">
                            <label class="form-label">Campus*</label>
                            <input class="text-field" type="text" placeholder="Campus*" formControlName="campus">
                        </div>
                    </div>
                    <div class="double-field">
                        <div class="form-field">
                            <label [ngClass]="{'input-error': program}" class="form-label">Carrera*</label>
                            <input  class="text-field" type="text" placeholder="Carrera*" formControlName="program">
                            <label class="disclaimer"><span style="color: white;">.</span></label>
                        </div>
                        <div class="hidden-block"></div>
                        <div class="form-field">
                            <label  [ngClass]="{'input-error': semester}" class="form-label">Semestre*</label>

                            <input class="text-field" type="text" placeholder="Semestre*" formControlName="semester">
                            <label class="disclaimer">*No necesariamente acreditados</label>
                        </div>
                    </div>
                    <span class="text-danger" *ngIf="masterFlag">No olvides completar todos los campos y que sean correctos</span>
                    <div class="button-rack">
                        <button class="back" (click)="continue(3)">Regresar</button>
                        <button class="continue" (click)="continue(5)">Continuar</button>
                    </div>
            </div>
            <div *ngIf="step == 5" class="team-name" formGroupName="hacker2">
                <label class="title">Ready Hacker 2</label>
                    <label class="instruction">Ingresa tus datos generales y de contacto.</label>
                    <div class="form-field">
                        <label [ngClass]="{'input-error': name}" class="form-label">Nombre*</label>
                        <input class="text-field" type="text" placeholder="Nombre*" formControlName="name">
                    </div>
                    <div class="form-field">
                        <label [ngClass]="{'input-error': email}" class="form-label">Dirección de correo electrónico*</label>
                        <input class="text-field" type="email" placeholder="example@domain.com*" formControlName="email">
                    </div>
                    <div class="form-field">
                        <label [ngClass]="{'input-error': discord}" class="form-label">Discord ID*</label>
                        <input class="text-field" type="text" placeholder="discordID#1234*" formControlName="discord">
                    </div>
                    <div class="form-field" *ngIf="externalFlag">
                        <label [ngClass]="{'input-error': code}" class="form-label">Universidad/Institución de Estudios*</label>
                        <input class="text-field" type="text" placeholder="Universidad/Institución de Estudios*" formControlName="code">
                    </div>
                    <div class="double-field" *ngIf="!externalFlag">
                        <div class="form-field">
                            <label [ngClass]="{'input-error': code}" class="form-label">Matrícula*</label>
                            <input class="text-field" type="text" placeholder="Matrícula*" formControlName="code">
                        </div>
                        <div style="width: 50px;"></div>
                        <div class="form-field">
                            <label class="form-label">Campus*</label>
                            <input class="text-field" type="text" placeholder="Campus*" formControlName="campus">
                        </div>
                    </div>
                    <div class="double-field">
                        <div class="form-field">
                            <label [ngClass]="{'input-error': program}" class="form-label">Carrera*</label>
                            <input class="text-field" type="text" placeholder="Carrera*" formControlName="program">
                            <label class="disclaimer"><span style="color: white;">.</span></label>
                        </div>
                        <div style="width: 50px;"></div>
                        <div class="form-field">
                            <label [ngClass]="{'input-error': semester}" class="form-label">Semestre*</label>
                            <input class="text-field" type="text" placeholder="Semestre*" formControlName="semester">
                            <label class="disclaimer">*No necesariamente acreditados</label>
                        </div>
                    </div>
                    <span class="text-danger" *ngIf="h2Flag">No olvides completar todos los campos y que sean correctos</span>
                    <div class="button-rack">
                        <button class="back" (click)="continue(4)">Regresar</button>
                        <button class="continue" (click)="continue(6)">Continuar</button>
                    </div>
            </div>
            <div *ngIf="step == 6" class="team-name" formGroupName="hacker3">
                <label class="title">Ready Hacker 3</label>
                    <label class="instruction">Ingresa tus datos generales y de contacto.</label>
                    <div class="form-field">
                        <label [ngClass]="{'input-error': name}" class="form-label">Nombre*</label>
                        <input class="text-field" type="text" placeholder="Nombre*" formControlName="name">
                    </div>
                    <div class="form-field">
                        <label [ngClass]="{'input-error': email}" class="form-label">Dirección de correo electrónico*</label>
                        <input class="text-field" type="email" placeholder="example@domain.com*" formControlName="email">
                    </div>
                    <div class="form-field">
                        <label [ngClass]="{'input-error': discord}" class="form-label">Discord ID*</label>
                        <input class="text-field" type="text" placeholder="discordID#1234*" formControlName="discord">
                    </div>
                    <div class="form-field" *ngIf="externalFlag">
                        <label [ngClass]="{'input-error': code}" class="form-label">Universidad/Institución de Estudios*</label>
                        <input class="text-field" type="text" placeholder="Universidad/Institución de Estudios*" formControlName="code">
                    </div>
                    <div class="double-field" *ngIf="!externalFlag">
                        <div class="form-field">
                            <label [ngClass]="{'input-error': code}" class="form-label">Matrícula*</label>
                            <input class="text-field" type="text" placeholder="Matrícula*" formControlName="code">
                        </div>
                        <div style="width: 50px;"></div>
                        <div class="form-field">
                            <label class="form-label">Campus*</label>
                            <input class="text-field" type="text" placeholder="Campus*" formControlName="campus">
                        </div>
                    </div>
                    <div class="double-field">
                        <div class="form-field">
                            <label [ngClass]="{'input-error': program}" class="form-label">Carrera*</label>
                            <input class="text-field" type="text" placeholder="ITC*" formControlName="program">
                            <label class="disclaimer"><span style="color: white;">.</span></label>
                        </div>
                        <div style="width: 50px;"></div>
                        <div class="form-field">
                            <label [ngClass]="{'input-error': semester}" class="form-label">Semestre*</label>
                            <input class="text-field" type="text" placeholder="Semestre*" formControlName="semester">
                            <label class="disclaimer">*No necesariamente acreditados</label>
                        </div>
                    </div>
                    <span class="text-danger" *ngIf="h3Flag">No olvides completar todos los campos y que sean correctos</span>
                    <div class="button-rack">
                        <button class="back" (click)="continue(5)">Regresar</button>
                        <button class="continue" (click)="continue(7)">Continuar</button>
                    </div>
            </div>
            <div *ngIf="step == 7" class="team-name" formGroupName="hacker4">
                <label class="title">Ready Hacker 4</label>
                    <label class="instruction">Ingresa tus datos generales y de contacto.</label>
                    <div class="form-field">
                        <label [ngClass]="{'input-error': name}" class="form-label">Nombre*</label>
                        <input class="text-field" type="text" placeholder="Nombre*" formControlName="name">
                    </div>
                    <div class="form-field">
                        <label [ngClass]="{'input-error': email}" class="form-label">Dirección de correo electrónico*</label>
                        <input class="text-field" type="email" placeholder="example@domain.com*" formControlName="email">
                    </div>
                    <div class="form-field">
                        <label [ngClass]="{'input-error': discord}" class="form-label">Discord ID*</label>
                        <input class="text-field" type="text" placeholder="discordID#1234*" formControlName="discord">
                    </div>
                    <div class="form-field" *ngIf="externalFlag">
                        <label [ngClass]="{'input-error': code}" class="form-label">Universidad/Institución de Estudios*</label>
                        <input class="text-field" type="text" placeholder="Universidad/Institución de Estudios*" formControlName="code">
                    </div>
                    <div class="double-field" *ngIf="!externalFlag">
                        <div class="form-field">
                            <label [ngClass]="{'input-error': code}" class="form-label">Matrícula*</label>
                            <input class="text-field" type="text" placeholder="Matrícula*" formControlName="code">
                        </div>
                        <div style="width: 50px;"></div>
                        <div class="form-field">
                            <label class="form-label">Campus*</label>
                            <input class="text-field" type="text" placeholder="Campus*" formControlName="campus">
                        </div>
                    </div>
                    <div class="double-field">
                        <div class="form-field">
                            <label [ngClass]="{'input-error': program}" class="form-label">Carrera*</label>
                            <input class="text-field" type="text" placeholder="Carrrera*" formControlName="program">
                            <label class="disclaimer"><span style="color: white;">.</span></label>
                        </div>
                        <div style="width: 50px;"></div>
                        <div class="form-field">
                            <label [ngClass]="{'input-error': semester}" class="form-label">Semestre*</label>
                            <input class="text-field" type="text" placeholder="Semestre*" formControlName="semester">
                            <label class="disclaimer">*No necesariamente acreditados</label>
                        </div>
                    </div>
                    <span class="text-danger" *ngIf="h4Flag">No olvides completar todos los campos y que sean correctos</span>
                    <div class="button-rack">
                        <button class="back" (click)="continue(6)">Regresar</button>
                        <button class="continue" (click)="continue(8)">Continuar</button>
                    </div>
            </div>
            <div *ngIf="step == 8" class="team-name" formGroupName="hacker5">
                <label class="title">Ready Hacker 5</label>
                    <label class="instruction">Ingresa tus datos generales y de contacto.</label>
                    <div class="form-field">
                        <label [ngClass]="{'input-error': name}" class="form-label">Nombre*</label>
                        <input class="text-field" type="text" placeholder="Nombre*" formControlName="name">
                    </div>
                    <div class="form-field">
                        <label [ngClass]="{'input-error': email}" class="form-label">Dirección de correo electrónico*</label>
                        <input class="text-field" type="email" placeholder="example@domain.com*" formControlName="email">
                    </div>
                    <div class="form-field">
                        <label [ngClass]="{'input-error': discord}" class="form-label">Discord ID*</label>
                        <input class="text-field" type="text" placeholder="discordID#1234*" formControlName="discord">
                    </div>
                    <div class="form-field" *ngIf="externalFlag">
                        <label [ngClass]="{'input-error': code}" class="form-label">Universidad/Institución de Estudios*</label>
                        <input class="text-field" type="text" placeholder="Universidad/Institución de Estudios*" formControlName="code">
                    </div>
                    <div class="double-field" *ngIf="!externalFlag">
                        <div class="form-field">
                            <label [ngClass]="{'input-error': code}" class="form-label">Matrícula*</label>
                            <input class="text-field" type="text" placeholder="Matrícula*" formControlName="code">
                        </div>
                        <div style="width: 50px;"></div>
                        <div class="form-field">
                            <label class="form-label">Campus*</label>
                            <input class="text-field" type="text" placeholder="Campus*" formControlName="campus">
                        </div>
                    </div>
                    <div class="double-field">
                        <div class="form-field">
                            <label [ngClass]="{'input-error': program}" class="form-label">Carrera*</label>
                            <input class="text-field" type="text" placeholder="Carrera*" formControlName="program">
                            <label class="disclaimer"><span style="color: white;">.</span></label>
                        </div>
                        <div style="width: 50px;"></div>
                        <div class="form-field">
                            <label [ngClass]="{'input-error': semester}" class="form-label">Semestre*</label>

                            <input class="text-field" type="text" placeholder="Semestre*" formControlName="semester">
                            <label class="disclaimer">*No necesariamente acreditados</label>
                        </div>
                    </div>
                    <span class="text-danger" *ngIf="h5Flag">No olvides completar todos los campos y que sean correctos</span>
                    <div class="button-rack">
                        <button class="back" (click)="continue(7)">Regresar</button>
                        <button class="continue" (click)="continue(9)">Continuar</button>
                    </div>
            </div>
            <div *ngIf="step == 9" class="team-name">
                <label class="title">¡Ya Casi!</label>
                    <label class="instruction">Sabemos que nadie los lee, por eso te lo resumimos en que nos aseguramos que vivas la mejor experiencia.</label>
                    <div class="terms-container">
                        <p>
                        "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
                        "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
                    </p>
                    </div>
                    <div class="terms-radio">
                        <label>
                        <input type="checkbox" id="accept-terms" name="radio">
                        <span class="checkmark"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Acepto los términos y condiciones anteriores
                        </label>
                    </div>
                    <span class="text-danger" *ngIf="termsFlag">No olvides aceptar los terminos y condiciones</span>
                    
                    <div class="button-rack">
                        <button class="back" (click)="continue(8)">Regresar</button>
                        <button class="continue" (click)="submitHackerForm()">Registrarse</button>
                    </div>
            </div>
        </form>
    </mat-drawer-content>
</mat-drawer-container>
</div>