<!-- talks.details.component.html -->

<div class="talks-background" [ngSwitch]="fromPage">
    
    <!-- Speaker 'one' -->
    <div class="modal-background" *ngSwitchCase="'one'">
         
        <!--INFOO-->
        <div class="col">
            <div class="info">
                <h2>Design Thinking for hackers</h2>
                
                <mat-dialog-content>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat,Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                </mat-dialog-content>

                <mat-dialog-actions>
                    <button href="">¡Regístrate!</button>
                    <button href="">Consulta la agenda</button>
                </mat-dialog-actions>
            </div>
        </div>

        <!--FOTOO-->
        <div class="col">
            <img src="../assets/images/joche.png" alt="Card image cap">
        </div>

    </div>

    <!-- Speaker 'two' -->
    <div class="modal-background" *ngSwitchCase="'two'">
        
        <!--INFOO-->
        <div class="col">
            <div class="info">
                <h2 mat-dialog-title>Design Thinking for hackers</h2>
                
                <mat-dialog-content>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat,Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                </mat-dialog-content>

                <mat-dialog-actions>
                    <button href="">¡Regístrate!</button>
                    <button href="">Consulta la agenda</button>
                </mat-dialog-actions>
            </div>
        </div>

        <!--FOTOO-->
        <div class="col">
            <img src="../assets/images/Sof.png" alt="Card image cap">
        </div>

    </div>

    <!-- Speaker 'three' -->
    <div class="modal-background" *ngSwitchCase="'three'">
        
        <!--INFOO-->
        <div class="col">
            <div class="info">
                <h2 mat-dialog-title>Design Thinking for hackers</h2>
                
                <mat-dialog-content>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat,Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                </mat-dialog-content>

                <mat-dialog-actions>
                    <button class="mat-primary" href="">¡Regístrate!</button>
                    <button href="">Consulta la agenda</button>
                </mat-dialog-actions>
            </div>
        </div>

        <!--FOTOO-->
        <div class="col">
            <img src="../assets/images/Sandy.png" alt="Card image cap">
        </div>

    </div>

    <!-- Speaker 'four' -->
    <div class="modal-background" *ngSwitchCase="'four'">
        
        <!--INFOO-->
        <div class="col">
                <div class="info">
                <h2 mat-dialog-title>Design Thinking for hackers</h2>
                
                <mat-dialog-content>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat,Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                </mat-dialog-content>

                <mat-dialog-actions>
                    <button class="mat-primary" href="">¡Regístrate!</button>
                    <button href="">Consulta la agenda</button>
                </mat-dialog-actions>
            </div>
        </div>

        <!--FOTOO-->
        <div class="col" >
            <img src="../assets/images/Mike.png" alt="Card image cap">
        </div>

    </div>

    <!-- Speaker 'five' -->
    <div class="modal-background" *ngSwitchCase="'five'">
        
        <!--INFOO-->
        <div class="col">
            <div class="info">
                <h2 mat-dialog-title>Design Thinking for hackers</h2>
                
                <mat-dialog-content>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat,Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                </mat-dialog-content>

                <mat-dialog-actions>
                    <button class="mat-primary" href="">¡Regístrate!</button>
                    <button href="">Consulta la agenda</button>
                </mat-dialog-actions>
            </div>
        </div>

        <!--FOTOO-->
        <div class="col" >
            <img src="../assets/images/Dan.png" alt="Card image cap">
        </div>

    </div>

    <!-- Speaker 'six' -->
    <div class="modal-background" *ngSwitchCase="'six'">
        
        <!--INFOO-->
        <div class="col">
            <div class="info">
                <h2 mat-dialog-title>Design Thinking for hackers</h2>
                
                <mat-dialog-content>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat,Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                </mat-dialog-content>

                <mat-dialog-actions>
                    <button class="mat-primary" href="">¡Regístrate!</button>
                    <button href="">Consulta la agenda</button>
                </mat-dialog-actions>
            </div>
        </div>

        <!--FOTOO-->
        <div class="col" >
            <img src="../assets/images/Sof.png" alt="Card image cap">
        </div>

    </div>



</div>
