<!-- talks.details.component.html -->

<div class="talks-background" [ngSwitch]="fromPage">

<div class="modal-background">
         
    <!--INFOO-->
    <div class="col">
        <div class="info">
            <h2>{{mentorName}}</h2>
            
            <mat-dialog-content>
                {{description}}
            </mat-dialog-content>
            
            <mat-dialog-content>
                <span style="font-weight: bolder;">{{person}}:</span> {{about}}
            </mat-dialog-content>
            <mat-dialog-actions>
                <button href="" class="continue" (click)="register()">¡Regístrate!</button>
            </mat-dialog-actions>
        </div>
    </div>

    <!--FOTOO-->
    <div class="col">
        <img src="{{photo}}" alt="Card image cap">
    </div>

</div>
</div>
