.landing-background{
    background-color: #372f50;
    color: #fffffa;
    height: 100vh;
    margin: -10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.middle-section{
    display: flex;
    flex-direction: row;
}

.info{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.title{
    font-family: 'IBM Plex Sans Bold';
    font-size: 40px;
}

.text{
    font-family: 'IBM Regular';
    font-size: 23px;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.register{
    background-color: #00af88;
    border: #00af88;
    border-radius: 35px;
    height: 64px;
    font-size: 20pt;
    font-family: 'IBM Semibold';
    color: #ffffff;
}

.info-button{
    border-width: 3pt;
    color: #00af88;
    background-color: transparent;
    border-radius: 35px;
    height: 64px;
    font-size: 20pt;
    font-family: 'IBM Semibold';
}

img{
    width: 700px;
}