<div class="landing-background">
    <div class="logo-container">
        <img class="logo" src="assets/images/logo2.png">
        <div class="logo"></div>
    </div>
    
    <div class="middle-section">
        <div>
            <img src="assets/images/ip.png">
        </div>
        <div style="width: 100px;">

        </div>
        <div class="info">
            <h1 class="title">Code_and_learn_for<br>a_greener_campus</h1>
            <p class="text">Vive este Hackathon y únete a más de <br>100k estudiantes programando por un <br>mejor planeta</p>
            <div class="buttons">
                <button class="register" routerLink="/registration">¡Registrate!</button>
                <button class="info-button">Más info</button> 
            </div>
        </div>
    </div>
    <div class="logo-container">

    </div>
</div>

