.landing-background{
    background-color: #372e50;
    color: #fffffa;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.logo-container{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;
}

.logo{
    width: 250px;
}

.middle-section{
    display: flex;
    flex-direction: row;
}

.info{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
}

.title{
    font-family: 'IBM Plex Sans Bold';
    font-size: 50px;
    line-height: 45px;
    font-weight: 100;
}

.text{
    font-family: 'IBM Regular';
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 60PX;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.register{
    background-color: #00af88;
    border: #00af88;
    border-radius: 35px;
    height: 50px;
    font-size: 13pt;
    font-family: 'IBM Semibold';
    color: #ffffff;
    width: 135px;
    
}

.info-button{
    border-width: 3pt;
    color: #00af88;
    border-color: #00af88;
    background-color: #372e50;
    border-radius: 35px;
    height: 50px;
    font-size: 13pt;
    font-family: 'IBM Semibold';
    margin-left: 20px;
    width: 135px;
}

img{
    transform: translateX(-20px) translateY(30px);
    width: 550px;
}