.landing-background{
    background-color: #372f50;
    color: #fffffa;
    height: 100vh;
    margin: -10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

img{
    width: 500px;
}