<div class="landing-background">
    <div class="logo-container">
        <img class="logo" src="assets/images/logo2.png">
        <div class="logo"></div>
    </div>
    
    <div class="middle-section">
        <div>
            <img src="assets/images/ip.png">
        </div>
        <div style="width: 20px;">

        </div>
        <div class="info">
            <h1 class="title">Code_and_learn_for a_greener_campus</h1>
            <p class="text">Vive este Hackathon este <span style="font-weight: bolder;">19 y 20 de junio </span>y únete a más de cientos de estudiantes programando por un mejor planeta</p>
            <div class="buttons">
                <button class="continue" routerLink="/registration">¡Registrate!</button>
                <button class="back" routerLink="/home">Más info</button> 
            </div>
        </div>
    </div>
    <div class="logo-container">
    </div>
</div>

