<div class="contact-container">
    <div class="contact-box">
        <div class="contact-text contact">
            <h3 class="text">Contactanos</h3>
            <h2 class="text">Contacta a nuestro equipo organizador</h2>
            <p class="text">Mauris metus libero, lacinia sed rhoncus vitae, accumsan sit amet tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eget ipsum at tellus fringilla luctus. Nullam lobortis metus vitae ante suscipit tincidunt id at justo. Curabitur semper euismod ante, eget elementum tellus pharetra vel.</p>
        </div>
        <div class="contact-form contact">
            <form [formGroup]="mail">
                <h3 class="text two">
                    Mandanos un mensaje
                </h3>
                <div class="input-field">
                    <input type="text" placeholder="Tu nombre" formControlName="message_name">
                </div>
                <div class="input-field">
                    <input type="text" placeholder="Correo electrónico" formControlName="message_email">
                </div>
                <div class="input-field">
                    <textarea  class="area" placeholder="En que te podemos ayudar" formControlName="message"></textarea>
                </div>
                <button  class="continue" (click)="sendMail()">¡Listo!</button>
            </form>
        </div>
    </div>
</div>
  
  
    
    
   


