<div class="contact-container">
    <div class="contact-box">
        <div class="contact-text contact">
            <h3 class="text">Contactanos</h3>
            <h2 class="text">Contacta a nuestro equipo organizador</h2>
            <p class="text">¿Aún tienes preguntas sobre el Et-Hack? ¿O necesitas ayuda? ¡No dudes en contactarnos! El equipo organizador estará feliz de apoyarte lo más pronto posible.</p>
        </div>
        <div class="contact-form contact">
            <form [formGroup]="mail">
                <h3 class="text two">
                    Mandanos un mensaje
                </h3>
                <div class="input-field">
                    <input type="text" placeholder="Tu nombre" formControlName="message_name">
                </div>
                <div class="input-field">
                    <input type="text" placeholder="Correo electrónico" formControlName="message_email">
                </div>
                <div class="input-field">
                    <textarea  class="area" placeholder="En que te podemos ayudar" formControlName="message"></textarea>
                </div>
                <button  class="continue" (click)="sendMail()">¡Listo!</button>
            </form>
        </div>
    </div>
</div>
  
  
    
    
   


