.contact-container{
    height: 100vh;
    background-color: #372e50;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact{
    width: 100%;
    border-radius: 50px;
}

input{
    background-color: #5f577c;
    border: #5f577c;
    border-radius: 5px;
    margin-bottom: 10px;
    height: 35px;
    width: 80%;
    color: white;
}



.input-field{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.area{
    height: 200px;
}

.two{
    font-size: 25px;
    margin-bottom: 40px;
}

@media screen and (min-width: 600px ){
    .two{
        font-size: 1.5vw;
        margin-bottom: 40px;
    }
    .contact-container{
        min-height: 100vh;
        background-color: #372e50;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contact-box{
        object-fit: contain;
        background-color: #5f577c;
        width: 75%;
        min-height: 70%;
        border-radius: 50px;
        display: flex;
        flex-direction: row;
    }
    .contact-text{
        display: flex;
        flex-direction: column;
        margin: 40px 40px 0 60px;
    }
    
    h3{
        font-family: 'IBM Semibold'; 
        font-size: 2vw;
        white-space: pre-wrap;
    }
    h2{
        font-family: 'IBM Plex Sans Bold';
        font-size: 4vw;
        margin-bottom: 20px;
        white-space: pre-wrap;
    }
    p{
        font-family: 'IBM Regular';
        font-size: 20px;
        white-space: pre-wrap;
    }
    .text{
        color: white;   
    }
    
form{
    display: flex;
    flex-direction: column;
    height: 90%;
    border-radius: 50px;
    width: 90%;
    align-items: center;
    justify-content: center;
    background-color: #372e50;
}

    .contact-form{
        
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }   
    
.continue{
    background-color: #00af88;
    border: #00af88;
    border-radius: 35px;
    height: 60px;
    font-size: 20pt;
    font-family: 'IBM Semibold';
    color: #ffffff;
    width: 135px;
}
textarea{
    background-color: #5f577c;
    border: #5f577c;
    color: white;
    border-radius: 5px;
    margin-bottom: 30px;
    height: 20%;
    width: 80%;
}
}

@media screen and (max-width: 600px) {
    .contact-container{
        min-height: 180vh;
        background-color: #372e50;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contact-text{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 40px 0 40px 0;
    }

    .contact-box{
        background-color: #5f577c;
        width: 100%;
        border-radius: 50px;
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
    }
    
form{
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    width: 90%;
    
    padding-top: 50px;
    padding-bottom: 30px;
    align-items: center;
    justify-content: center;
    background-color: #372e50;
}

    h3{
        font-family: 'IBM Semibold'; 
        font-size: 20px;
    }
    h2{
        font-family: 'IBM Plex Sans Bold';
        font-size: 50px;
        margin-bottom: 20px;
    }
    p{
        font-family: 'IBM Regular';
        font-size: 15px;
    }
    .text{
        color: white;
        margin-left: 10px;
        margin-right: 10px;
    }
    .contact-form{
        height: 100%;
        width: 100%;
        display: flex;
        height: max-content;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }  
    
.continue{
    background-color: #00af88;
    border: #00af88;
    border-radius: 35px;
    height: 60px;
    font-size: 20pt;
    font-family: 'IBM Semibold';
    color: #ffffff;
    width: 135px;
    margin-top: 20px;
} 
textarea{
    background-color: #5f577c;
    border: #5f577c;
    color: white;
    border-radius: 5px;
    height: 30px;
    width: 80%;
}
}
