<!--
    <div class="contact">
    <div class="textos">
        <div class="infos">
            <h2 class="title">Contactanos</h2>
            <h1 class="title1">Contacta a nuestro equipo organizador </h1>
            <p class="text">Mauris metus libero, lacinia sed rhoncus vitae, accumsan sit amet tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eget ipsum at tellus fringilla luctus. Nullam lobortis metus vitae ante suscipit tincidunt id at justo. Curabitur semper euismod ante, eget elementum tellus pharetra vel.</p>
        </div>
        <div class="box">
            <p class="text1">Mándanos un mensaje</p>
            <div class="forms">
                <form action="" method="POST"> 
                    <input class="nombreclass" type="text" placeholder="Tu nombre">       
                    <input class="nombreclass" type="text" placeholder="Correo">
                    <input class="nombreclass2" type="text" placeholder="¿Como te podemos ayudar?">  
                </form>
            </div>
            <div class="buttons">
                <button class="info-button">¡listo!</button> 
            </div>
        </div>
    </div>
 </div>
  
-->
  
  
    
    
   


