<div class="main-container">
    <div class="cej">
        <div class="spinner-box">
            <div id="inner-orbit">
                <img class="crew-one" src="assets/images/Mike.png">
            </div>
            <div id="second-orbit">
                <img class="crew-two" src="assets/images/Sof.png">
            </div>
            <div id="third-orbit">
                <img class="crew-three" src="assets/images/Dan.png">
            </div>
            <div id="fourth-orbit">
                <img class="crew-four" src="assets/images/joche.png">
            </div>
            <img class="fetec-logo" src="assets/images/fetec.png">
        </div>
    </div>
    <div class="information">
        <div class="text">
            <h4>Sobre la organización</h4>
            <h2>Descubre quienes hacen la magia</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <div class="social-links">
                <a href="https://www.instagram.com/fetec.pue/">
                    <img class="social-img" src="assets/social/IG icon.png">
                </a>
                <a href="https://www.facebook.com/FETECPuebla">                    
                    <img class="social-img" src="assets/social/Facebook.png">
                </a>
                <a>
                    <img class="social-img" src="assets/social/Twitter.png">  
                </a>
                
            </div>
        </div>
        
    </div>
</div>
