<div class="main-container">
    <div class="information">
        <div class="text">
            <h4>Sobre la organización</h4>
            <h2>Descubre quienes hacen la magia</h2>
            <p>El equipo organizador de Et-Hack es parte del Comité Ejecutivo de la FETEC del Tec Campus Puebla, donde se busca generar eventos de alto impacto en nuestra comunidad y ser el puente de representación entre los estudiantes y la institución. Somos un grupo de estudiantes apasionados por la creación de espacios en donde el estudiantado pueda seguirse desarrollando mientras participa activamente en la mejora de su entorno directo.</p>
            <div class="social-links">
                <a href="https://www.instagram.com/fetec.pue/">
                    <img class="social-img" src="assets/social/IG icon.png">
                </a>
                <a href="https://www.facebook.com/FETECPuebla">                    
                    <img class="social-img" src="assets/social/Facebook.png">
                </a>
                <a href="https://twitter.com/FetecPuebla?s=20">
                    <img class="social-img" src="assets/social/Twitter.png">  
                </a>
                
            </div>
        </div>
        
    </div>
    <div class="cej-cascade">
        <div class="cascade">
            <div class="cascade-list">
                <div class="slide">
                    <img src="assets/cascade/Diego.png">
                </div>
                <div class="slide">
                    <img src="assets/cascade/Soph.png">
                </div>
                <div class="slide">
                    <img src="assets/cascade/Rulo.png">
                </div>
                <div class="slide">
                    <img src="assets/cascade/Sandy.png">
                </div>
                <div class="slide">
                    <img src="assets/cascade/Chule.png">
                </div>
                <div class="slide">
                    <img src="assets/cascade/Alda.png">
                </div>
                <div class="slide">
                    <img src="assets/cascade/Ame.png">
                </div>
                <div class="slide">
                    <img src="assets/cascade/Diego.png">
                </div>
                <div class="slide">
                    <img src="assets/cascade/Soph.png">
                </div>
                <div class="slide">
                    <img src="assets/cascade/Rulo.png">
                </div>
                <div class="slide">
                    <img src="assets/cascade/Sandy.png">
                </div>
            </div>
            <div class="cascade-list2">
                <div class="slide">
                    <img src="assets/cascade/Estefy.png">
                </div>
                <div class="slide">
                    <img src="assets/cascade/Mike.png">
                </div>
                <div class="slide">
                    <img src="assets/cascade/Reyna.png">
                </div>
                <div class="slide">
                    <img src="assets/cascade/patas.png">
                </div>
                <div class="slide">
                    <img src="assets/cascade/Leo.png">
                </div>
                <div class="slide">
                    <img src="assets/cascade/Oscar.png">
                </div>
                <div class="slide">
                    <img src="assets/cascade/Estefy.png">
                </div>
                <div class="slide">
                    <img src="assets/cascade/Mike.png">
                </div>
                <div class="slide">
                    <img src="assets/cascade/Reyna.png">
                </div>
                <div class="slide">
                    <img src="assets/cascade/patas.png">
                </div>
            </div>
            <div class="cascade-list">
                <div class="slide">
                    <img src="assets/cascade/Dan.png">
                </div>
                <div class="slide">
                    <img src="assets/cascade/Karl.png"> 
                </div>
                <div class="slide">
                    <img src="assets/cascade/Pablo.png">
                </div>
                <div class="slide">
                    <img src="assets/cascade/Joche.png">
                </div>
                <div class="slide">
                    <img src="assets/cascade/Vega.png">
                </div>
                
                <div class="slide">
                    <img src="assets/cascade/Carol.png">
                </div>
                <div class="slide">
                    <img src="assets/cascade/Sayu.png">
                </div>
                <div class="slide">
                    <img src="assets/cascade/Dan.png">
                </div>
                <div class="slide">
                    <img src="assets/cascade/Karl.png">
                </div>
                <div class="slide">
                    <img src="assets/cascade/Pablo.png">
                </div>
                <div class="slide">
                    <img src="assets/cascade/Joche.png">
                </div>
            </div>
        </div>
    </div>

    <div class="cej">
        <div class="spinner-box">
            <div id="inner-orbit">
                <img class="crew-one" src="assets/images/Mike.png">
            </div>
            <div id="second-orbit">
                <img class="crew-two" src="assets/images/Sof.png">
            </div>
            <div id="third-orbit">
                <img class="crew-three" src="assets/images/Dan.png">
            </div>
            <div id="fourth-orbit">
                <img class="crew-four" src="assets/images/joche.png">
            </div>
            <div id="fifth-orbit">
                <img class="crew-five" src="assets/images/Sandy.png">
            </div>
            <div id="sixth-orbit">
                <img class="crew-six" src="assets/images/Sandy.png">
            </div>
            <img class="fetec-logo" src="assets/images/fetec.png">
        </div>
    </div>
    
</div>
